Repository gridcoin-community/Gridcoin-Research, pull requests merged in 2022-09, with the labels that each got.

#2570 rpc: Implementation of getmrcinfo
  src/main.cpp
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Labels: enhancement, rpc

#2571 init: Add init error message if -printtoconsole and -daemon specified simultaneously
  src/gridcoinresearchd.cpp
  src/init.cpp
Labels: enhancement

#2575 rpc: getmrcinfo part 2 - add calculated minimum fees and fee boosting and by CPID reporting
  src/gridcoin/mrc.cpp
  src/main.cpp
  src/main.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
Labels: enhancement, rpc

#2577 accrual: rebuild snapshot registry on corruption instead of crashing
  src/gridcoin/accrual/snapshot.h
Labels: bug
