Repository gridcoin-community/Gridcoin-Research, pull requests merged in 2022-04, with the labels that each got.

#2478 build, lint: Remove x-prefix's from comparisons, Fix some shell script issues the linter complains about, Re-enable boost include checks
  .github/workflows/ci.yml
  build-aux/m4/ax_boost_base.m4
  build-aux/m4/ax_boost_filesystem.m4
  build-aux/m4/ax_boost_iostreams.m4
  build-aux/m4/ax_boost_system.m4
  build-aux/m4/ax_boost_thread.m4
  build-aux/m4/ax_boost_unit_test_framework.m4
  build-aux/m4/ax_boost_zlib.m4
  build-aux/m4/ax_cxx_compile_stdcxx.m4
  build-aux/m4/ax_pthread.m4
  build-aux/m4/bitcoin_find_bdb48.m4
  build-aux/m4/bitcoin_qt.m4
  build-aux/m4/bitcoin_subdir_to_include.m4
  build-aux/m4/m4_ax_boost_iostreams.m4
  cd/06_script_b.sh
  configure.ac
  depends/config.site.in
  test/lint/commit-script-check.sh
  test/lint/lint-all.sh
  test/lint/lint-includes.sh
Labels: build system, compatibility

#2479 test: Avoid copies of CTransaction
  src/test/multisig_tests.cpp
  src/test/script_tests.cpp
Labels: enhancement, test suite

#2484 ci: change windows CI to Focal, modify wrap_wine to use wine64 for 64bit binaries
  ci/test/00_setup_env_win32.sh
  ci/test/00_setup_env_win64.sh
  ci/test/04_install.sh
  ci/test/wrap-wine.sh
Labels: build system, compatibility

#2471 consensus: MRC mandatory implementation code
  src/chainparams.cpp
  src/main.cpp
  src/version.h
Labels: mandatory

#2480 tests: Don't access out of bounds array index: array[sizeof(array)]
  src/test/script_tests.cpp
Labels: compatibility

#2481 test: Add upstream sync_tests.cpp
  src/Makefile.test.include
  src/test/sync_tests.cpp
Labels: compatibility, test suite

#2486 build: Qt 5.15.2
  build-aux/m4/bitcoin_qt.m4
  contrib/devtools/symbol-check.py
  depends/packages/libxcb_util.mk
  depends/packages/libxcb_util_image.mk
  depends/packages/libxcb_util_keysyms.mk
  depends/packages/libxcb_util_render.mk
  depends/packages/libxcb_util_wm.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/qt/dont_hardcode_x86_64.patch
  depends/patches/qt/fix_android_jni_static.patch
  depends/patches/qt/fix_android_pch.patch
  depends/patches/qt/fix_android_qmake_conf.patch
  depends/patches/qt/fix_bigsur_style.patch
  depends/patches/qt/fix_lib_paths.patch
  depends/patches/qt/fix_limits_header.patch
  depends/patches/qt/fix_qt_pkgconfig.patch
  depends/patches/qt/mac-qmake.conf
  depends/patches/qt/no-xlib.patch
  depends/patches/qt/no_qrhi.patch
  depends/patches/qt/qtbase-moc-ignore-gcc-macro.patch
Labels: build system, compatibility

#2490 rpc, util: Remove caching from BlockFinder
  src/gridcoin/contract/contract.cpp
  src/gridcoin/gridcoin.cpp
  src/gridcoin/scraper/scraper.cpp
  src/gridcoin/support/block_finder.cpp
  src/gridcoin/support/block_finder.h
  src/gridcoin/voting/registry.cpp
  src/rpc/blockchain.cpp
  src/rpc/dataacq.cpp
  src/rpc/rawtransaction.cpp
  src/test/gridcoin/block_finder_tests.cpp
  src/wallet/wallet.cpp
Labels: bug

#2459 net: No longer send local address in addrMe
  src/main.cpp
  src/net.cpp
Labels: enhancement, compatibility

#2489 voting, gui, rpc: Enhance PollResult and AVW calculation to improve pool handling
  src/gridcoin/voting/registry.cpp
  src/gridcoin/voting/registry.h
  src/gridcoin/voting/result.cpp
  src/gridcoin/voting/result.h
  src/qt/voting/votingmodel.cpp
  src/rpc/voting.cpp
Labels: enhancement, gui, rpc

#2454 net: Countermeasures against eclipse attacks
  src/addrman.cpp
  src/addrman.h
  src/net.cpp
  src/uint256.h
Labels: enhancement, compatibility

#2491 lint: add script to check for https violations
  ci/lint/06_script.sh
  test/lint/lint-copyright-https.sh
Labels: build system, test suite

#2494 build: Try posix-specific CXX first for mingw32 host, Fix Windows cross-compiling with Qt 5.15
  cd/05_before_script.sh
  ci/test/05_before_script.sh
  depends/hosts/mingw32.mk
  depends/packages/qt.mk
  doc/build-windows.md
Labels: build system, compatibility

#2468 Improve upon scanforunspent rpc
  src/rpc/rawtransaction.cpp
Labels: enhancement, rpc

#2499 util: Add flatpath BOINC data directory path resolution for Linux
  src/gridcoin/boinc.cpp
Labels: bug

#2498 gui: Add beaconExpired() to researchermodel
  src/qt/bitcoingui.cpp
  src/qt/researcher/researchermodel.cpp
  src/qt/researcher/researchermodel.h
Labels: bug, gui

#2497 util: Fix BN_zero macro in key.cpp for OpenSSL 3.0
  src/key.cpp
Labels: bug, compatibility, temporary

#2502 consensus: Add missing block nVersion check for v12 blocks in AcceptBlock
  src/main.cpp
Labels: bug, mandatory

#2504 scripted-diff: change http to https in copyright text
  cd/00_setup_env.sh
  cd/00_setup_env_mac.sh
  cd/00_setup_env_win32.sh
  cd/00_setup_env_win64.sh
  cd/03_before_install.sh
  cd/04_install.sh
  cd/06_script_a.sh
  cd/06_script_b.sh
  cd/run_all.sh
  share/genbuild.sh
  src/Makefile.crc32c.include
  src/base58.h
  src/clientversion.cpp
  src/compat/cpuid.h
  src/crypto/sha3.cpp
  src/crypto/sha3.h
  src/node/blockstorage.cpp
  src/node/blockstorage.h
  src/qt/locale/bitcoin_pl.ts
  src/random.cpp
  src/random.h
  src/randomenv.cpp
  src/randomenv.h
  src/scheduler.cpp
  src/scheduler.h
  src/test/base32_tests.cpp
  src/test/base58_tests.cpp
  src/test/base64_tests.cpp
  src/test/compilerbug_tests.cpp
  src/test/sanity_tests.cpp
  src/test/scheduler_tests.cpp
  src/test/script_p2sh_tests.cpp
  src/test/script_tests.cpp
  src/test/sigopcount_tests.cpp
  src/test/sync_tests.cpp
  src/test/test_gridcoin.h
  src/test/transaction_tests.cpp
  src/threadinterrupt.cpp
  src/threadinterrupt.h
  test/lint/lint-python-dead-code.sh
Labels: build system, test suite

#2503 gui, util: Add AccrualChangedFromStakeOrMRC core signal
  src/gridcoin/tally.cpp
  src/node/ui_interface.cpp
  src/node/ui_interface.h
  src/qt/researcher/researchermodel.cpp
Labels: enhancement, gui

#2505 rpc, contract: Adjust ValidateMRC, CreateMRC, and createmrcrequest to correct provided fee handling
  src/gridcoin/mrc.cpp
  src/gridcoin/mrc.h
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/rpc/blockchain.cpp
  src/test/gridcoin/mrc_tests.cpp
Labels: bug, rpc

#2496 qt, refactor: Use enum type as switch argument in *TableModel
  src/qt/addresstablemodel.cpp
  src/qt/bantablemodel.cpp
  src/qt/peertablemodel.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/voting/polltablemodel.cpp
Labels: enhancement, compatibility
