Repository gridcoin-community/Gridcoin-Research, pull requests merged in 2023-05, with the labels that each got.

#2687 rpc: use RPCErrorCode everywhere
  src/rpc/net.cpp
  src/rpc/protocol.h
Labels: rpc, compatibility

#2661 gui: Make main Gridcoin window geometry save unique to datadir location
  src/qt/bitcoingui.cpp
Labels: enhancement, gui

#2688 util: Add `-shutdownnotify` and `startupnotify` options from upstream
  src/init.cpp
Labels: enhancement, compatibility
